<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="web/bbApp.css">

    <title>BlockBeat | Distribute your heartbeat</title>
</head>

<body>

    <div id="bbApp">

        <!-- Header -->
        <section class="hero bb-header">
            <div class="container">
                <div class="hero-body">
                    <h1 class="title">{{title}}</h1>
                    <h2 class="subtitle">{{slogan}}</h2>
                </div>
            </div>
        </section>

        <!-- Login form -->
        <section v-if="!isLoggedIn() && isActive('login')" class="section">
            <div class="container">
                <div class="columns">
                    <div id="bb-login-form" class="bb-container column is-one-third is-offset-one-third">
                        <h3 class="subtitle">Log In</h3>
                        <form action="#">
                            <div class="field">
                                <label for="bb-login-username" class="label">Username:</label>
                                <div class="control">
                                    <input id="bb-login-username" v-model="loginUserName" class="input" type="text" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="bb-login-password" class="label">Password:</label>
                                <div class="control">
                                    <input id="bb-login-password" v-model="loginPassword" class="input" type="password" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" v-on:click="logIn()">Log in</button>
                                </div>
                                <div class="control">
                                    <a class="button is-text" v-on:click="setActive('register')">Don't have an account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Register form -->
        <section v-if="!isLoggedIn() && isActive('register')" class="section">
            <div class="container">
                <div class="columns">
                    <div id="bb-register-form" class="bb-container column is-one-third is-offset-one-third">
                        <h3 class="subtitle">Register</h3>
                        <form action="#">
                            <div class="field">
                                <label for="bb-register-username" class="label">Username:</label>
                                <div class="control">
                                    <input id="bb-register-username" v-model="registerUserName" class="input" type="text" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="bb-register-firstname" class="label">First name:</label>
                                <div class="control">
                                    <input id="bb-register-firstname" v-model="registerFirstName" class="input" type="text" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="bb-register-lastname" class="label">Last name:</label>
                                <div class="control">
                                    <input id="bb-register-lastname" v-model="registerLastName" class="input" type="text" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="bb-register-password" class="label">Password:</label>
                                <div class="control">
                                    <input id="bb-register-password" v-model="registerPassword" class="input" type="password" placeholder="Text input" required>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control has-text-centered">
                                    <button class="button is-link" v-on:click="register()">Register</button>
                                </div>
                                <div class="control">
                                    <a class="button is-text" v-on:click="setActive('login')">Log in</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- navbar -->
        <section v-if="isLoggedIn()" class="section">

            <div class="container">
                <div class="columns bb-menubar is-vcentered">
                    <div class="column">
                        <h3 class="subtitle">Hello {{currentUser.firstName}}!</h3>

                    </div>
                    <div class="column">
                        <span class="is-pulled-right">
                            <a class="button" v-on:click="logOut()">Logout</a>
                        </span>
                    </div>
                </div>
            </div>

        </section>

        <!-- input heartrate -->
        <section v-if="isLoggedIn()" class="section">

            <div class="container">
                <div class="columns">
                    <div class="column bb-bg bb-rounded">
                        <h3 class="subtitle">Add heartrate reading</h3>
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input type="text" v-model="inputHeartrate" v-on:keyup.enter="addHeartRateClicked()" class="input" placeholder="e.g. 85">
                                </div>
                                <div class="control">
                                    <a class="button is-success" v-on:click="addHeartRateClicked()">Add!</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- content -->
        <section v-if="isLoggedIn()" class="section">

            <div class="container">
                <div class="columns">

                    <div class="column is-3">
                        <div class="column bb-bg bb-rounded">
                            <h3 class="subtitle">Logs</h3>
                            <textarea v-model="logText" class="textarea no-wrap" rows="10" readonly>
                                
                            </textarea>
                        </div>
                    </div>

                    <!-- Overview -->
                    <div class="column">
                        <div class="column bb-bg bb-rounded" v-if="isActive('overview')">

                            <h3 class="subtitle">Overview</h3>

                            <div class="box">
                                <table class="table is-striped is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Heartrate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="rate of heartRates">
                                            <td>{{new Date(rate.metadata.date).toLocaleDateString()}}</td>
                                            <td>{{new Date(rate.metadata.date).toLocaleTimeString()}}</td>
                                            <td>{{rate.metadata.bpm}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h3 class="subtitle">Raw data</h3>

                            <div class="box">
                                <textarea v-model="JSON.stringify(heartRates, null, 2)" class="textarea" rows="10" readonly>
                                </textarea>
                            </div>

                        </div>
                    </div>



                </div>
            </div>


        </section>

    </div>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCjzt1wtqgfpUkVqdh3pI9u9hPDGjGBHtE",
            databaseURL: "https://blockbeat-ad349.firebaseio.com",
            projectId: "blockbeat-ad349",
        };
        firebase.initializeApp(config);
    </script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- BlockBeat.js -->
    <script src="bin/bundle.js"></script>

    <!-- Custom Vue app -->
    <script src="web/bbApp.js"></script>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>

</html>
